<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
    <title>{{title}} | Python Atlanta User Group</title>
  </head>
  <body>
    <div id="doc" class="yui-t2">
      <div id="hd">

        <div id="banner" class="round">
          <img id="skyline" width="240" height="120"
               src="{{ pathto('_static/skyline.jpg', 1) }}"
               />
          <table id="buttons">
            <tr>
              <td>
                <a href="http://www.linkedin.com/groups?home=&gid=37441&trk=anet_ug_hm">
                  <img width="39" height="40"
                       src="{{ pathto('_static/linkedin_small.png', 1) }}" />
                </a>
              </td>
              <td>
                <a href="http://www.linkedin.com/groups?home=&gid=37441&trk=anet_ug_hm"
                   > LinkedIn</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://pyatl.blogspot.com/">
                  <img width="39" height="40"
                       src="{{ pathto('_static/rss_small.png', 1) }}" />
                </a>
              </td>
              <td>
                <a href="http://pyatl.blogspot.com/"
                   > Book Blog</a>
              </td>
            </tr>
          </table>
          <p>
            <img id="pythonlogo" width="211" height="60"
                 src="{{ pathto('_static/python-logo.png', 1) }}" />
            <br/>
            Atlanta Users Group
          </p>

        </div>
      </div>
      <div id="bd">
	<div id="yui-main">
	  <div class="yui-b"><div class="yui-g">

	      <!-- YOUR DATA GOES HERE -->
              <div id="main" class="round">
                {% block content %}
                {% endblock %}
              </div>

	    </div>
	  </div>
	</div>
	<div class="yui-b" id="sidebar">

          <!-- YOUR NAVIGATION GOES HERE -->
          <div class="round meetup">
            <p>
              <a href="http://us.pycon.org/">
                <img src="{{ pathto('_static/pycon-2010-banner.png', 1) }}" />
              </a>
            </p>
            <p>
              The national PyCon 2010 conference is in Atlanta this February!
            </p>
          </div>

          <div class="round pagelist">
            <h2>Navigation</h2>
            &#9656;
            {% if pagename != "index" %}
            <a href="{{ pathto('.', 1) }}">
              {% endif %}
              Home Page
              {% if pagename != "index" %}
            </a>
            {% endif %}
            <br/>
            &#9656;
            {% if pagename != "bookclub" %}
            <a href="{{ pathto('.', 1) }}">
              {% endif %}
              Book Club
              {% if pagename != "bookclub" %}
            </a>
            {% endif %}
            <br/>
            &#9656;
            {% if pagename != "plone" %}
            <a href="{{ pathto('plone', 1) }}">
              {% endif %}
              Atlanta Plone Group
              {% if pagename != "plone" %}
            </a>
            {% endif %}
          </div>

          <div class="round meetup">
            <h2>Meetings and Events</h2>
            <p>
              We normally meet on the second Thursday of each month
              at 7:30pm.
            </p>
            <a href="http://www.meetup.com/python-atlanta/">
              <img id="meetup" width="82" height="54"
                   src="{{ pathto('_static/meetup.png', 1) }}"
                   />
              <p>Python Atlanta on Meetup.com</p>
            </a>
          </div>

          <div class="round meetup">
            <h2>Mailing List</h2>
            <p>We also use Meetup.com to host our group's communications.</p>
            <p>
              <a href="http://www.meetup.com/python-atlanta/messages/archive/"
                 >Visit our mailing list</a>
            </p>
          </div>

        </div>
      </div>
      <div id="ft">

        <div id="disclaimers"
             class="center"
             xmlns:cc="http://creativecommons.org/ns#"
             about="http://www.flickr.com/photos/cokak/355135172/"
             >

          <a href="http://python.org/">
            <img src="{{ pathto('_static/python-powered-w-70x28.png', 1) }}"
                 />
          </a>

          <br/>

          This site is generated from
          <a href="http://docutils.sourceforge.net/rst.html"
             >reStructured Text</a>
          using the
          <a href="http://sphinx.pocoo.org/">Sphinx documentation system</a>.

          <br/>

          Download its source code, suggest improvements, and push changes
          on its
          <a href="http://bitbucket.org/brandon/pyatl.org/"
             >bitbucket.org project page</a>.

          <br/>

          The photograph in the header is from
          <a rel="cc:attributionURL"
             href="http://www.flickr.com/photos/cokak/">cokak's</a>
          Flickr photostream,
          appearing here under a
          <a rel="license"
             href="http://creativecommons.org/licenses/by/2.0/"
             >Creative Commons license</a>.

          <br/>

          The “Chrome” social media icons are thanks to
          <a rel="cc:attributionURL"
             href="http://www.chris-wallace.com/2009/05/28/free-social-media-icons-socialize/">Chris Wallace</a>
          and also appear here under a
          <a rel="license"
             href="http://www.chris-wallace.com/licensing/"
             >Creative Commons license</a>.
          

        </div>

      </div>
    </div>
  </body>
</html>
