
html, body {
    background-color: #cc9342;
}

.round { /* the round containers themselves */
    margin-top: 20px;
    border: 0px solid black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: white;
    padding: 10px;
}

div#banner {
    height: 120px;
}
img#skyline {
    float: left;
    margin-left: 20px;
}
div#banner p {
    text-align: center;
    font-size: 18pt;
}
.meetup {
    text-align: center;
}
#sidebar h2 {
    font-weight: bold;
    margin-bottom: 12px;
}
#sidebar p {
    margin-bottom: 8px;
}
