html, body {
    background-color: #cc9342;
}

/* A consistent look for round containers */

.round {
    margin-top: 20px;
    border: 0px solid black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: white;
    padding: 25px 10px;
}

/* Banner on top */

div#banner {
    padding: 10px; /* override 25px top and bottom */
    height: 120px;
}
img#skyline {
    float: left;
    margin-left: 20px;
}
table#buttons {
    float: right;
}
div#banner p {
    text-align: center;
    font-size: 18pt;
}
#pythonlogo {
    padding-top: 6px;
}

/* Sidebar on left */

.meetup {
    text-align: center;
}
#sidebar h2 {
    color: #740;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 12px;
}
#sidebar p {
    margin-bottom: 8px;
}
#disclaimers {
    margin-top: 18px;
}

/* Main */

div#main {
    font-size: 11pt;
    padding: 30px;
}
div#main h1 {
    margin-bottom: 0.7em;
    color: #740;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}
div#main h2 {
    margin-top: 16pt;
    margin-bottom: 8pt;
    border-top: 3px solid #740;
    color: #740;
    font-size: 18pt;
    font-weight: bold;
}
div#main h3 {
    margin-top: 8pt;
    margin-bottom: 8pt;
    font-weight: bold;
}
div#main ul {
    margin-top: 8pt;
    margin-bottom: 8pt;
}
div#main li {
    list-style-type: disc;
    margin-left: 1.5em;
}
div#main blockquote {
    margin-left: 1.5em;
}
div#main p {
    margin-top: 11pt;
    margin-bottom: 11pt;
}

a.headerlink { color: white; text-decoration: none; }

/* Footer */

#disclaimers a {
    color: black;
}
.center {
    text-align: center;
}
